node_modules
build
dist
.env
.env.* 
.vscode
.idea
.git
.gitignore
npm-debug.log
yarn-error.log
*.log
.DS_Store
Thumbs.db
coverage
.cache
.parcel-cache
.next
*.sqlite3
*.db
.Dockerfile*
docker-compose*.yml